*{
    margin: 0;
    padding: 0;
    font-family: 'Dear Sans';
    font-weight: bolder;
}
@font-face {
    font-family: 'Dear Sans';
    src: url('/parte1/static1/css/DearSans-Book.ttf') format('truetype');
}
p{
    font-size: 20px;
}
a{
    font-size: 20px;
}
h2{
    font-size: 30px;
}
button{
    padding: 5px;
    border: 3px solid black;
    box-shadow: 3px 3px 0px black;
    width: 80px;
    background-color: #ffd966;
    font-size: 18px;
    font-weight: bolder;
}
header{
    padding: 10px 40px;
    background-color: black;
    color: white;
    margin:0 400px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 400px;
}

.container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}
.container{
    padding: 20px 30px;
    width: 425px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid black;
}
.header{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.profile{
    gap:20px;
    padding: 30px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 3px solid black ;
    border-radius: 4px;
}
.profile img{
    width: 100px;
    margin-bottom: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}